.main {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-top: 8px;
  background-color: lightblue;
  justify-content: center;
}


.middle {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  width: 648px;
  padding-left: 50px;
  align-items: center;
  gap: 30px;
}


.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 468px;
}
.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  height: 34px;
  align-items: center;
  padding-bottom: 10px;
}
.post-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, rgb(228, 33, 186) 20%, rgb(238, 196, 9));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.post-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border: 2.5px solid white;
  vertical-align: middle;
}
.post-info {
  display: flex;
  flex-direction: column;
}
.post-name-box {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: 390px;
}
.post-name {
  font-weight: 600;
  cursor: pointer;
}
.post-tag {
  font-size: 13px;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}
.tooltip {
  position: relative;
}
.tooltip .verified-info {
  position: absolute;
  bottom: -50px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.2s;
  pointer-events: none;
}
.verified {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.tooltip:hover .verified-info {
  opacity: 1;
  cursor: pointer;
}
.post-dot {
  color: rgb(115, 115, 115);
  font-size: 14px;
  padding-top: 2px;
  line-height: 18px;
  height: 18px;
}
.post-time {
  color: rgb(115, 115, 115);
  font-size: 14px;
  padding-top: 2px;
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.post-follow {
  color: rgb(37, 54, 208);
  font-size: 14px;
  line-height: 18px;
  padding-top: 4px;
  height: 18px;
}
.post-follow:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dots-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.circle {
  background-color: rgb(75, 75, 75);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.post-main {
  width: 468px;
  height: 585px;
  position: relative;
}
.post-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.arrow-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 26px;
  height: 26px;
  fill: rgb(230, 230, 230);
  cursor: pointer;
}
.arrow-icon1 {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 26px;
  height: 26px;
  fill: rgb(230, 230, 230);
  cursor: pointer;
  transform: rotate(180deg);
}
.content {
  width: 468px;
  height: 585px;
  object-fit: cover;
}
.content1 {
  display: none;
}
.post-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.circle1 {
  background-color: rgb(255, 255, 255);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.circle2 {
  background-color: rgb(116, 116, 116);
  width: 6px;
  height: 6px;
  border-radius: 50%;  
}

.post-bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.post-interact {
  display: flex;
  gap: 20px;
}
.icon1 {
  width: 24px;
  height: 24px;
  justify-content: baseline;
}
.heart-icon {
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 24px;
  height: 24px;
}
.icon3-box {
  height: 24px;
  flex: 1;
  text-align: end;
}
.icon3 {
  width: 24px;
  height: 24px;
}
.icon1:hover, .icon2:hover, .icon3:hover {
  cursor: pointer;
  opacity: 0.6;
}
.likes-box {
  display: flex;
  align-items: center;
  
}
.image-small1 {
  justify-content: start;
  display: flex;
  width: 42px;
}
.img-small4 {
  width: 14px;
  height: 14px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}
.img-small5 {
  width: 14px;
  height: 14px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
  margin-left: -8px;
}
.img-small6 {
  width: 14px;
  height: 14px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
  margin-left: -8px;
}
.img-small1:hover,
.img-small2:hover,
.img-small:hover {
  opacity: 0.8;
}
.like-count {
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  vertical-align: middle;
}
.post-name2 {
  display: inline;
}
.post-name1 {
  display: inline;
  font-weight: 600;
  cursor: pointer;
}
abbr[title] {
  text-decoration: none;
  border: none;
  cursor: default;
}

.verified1 {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.post-title {
  display: inline;
}
.view-comments {
  margin-top: 10px;
  color: rgb(115, 115, 115);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: fit-content;
  cursor: pointer;
}
.comment-area {
  display: flex;
  justify-content: space-between;
  color: rgb(115, 115, 115);
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.comment-input {
  border: none;
  flex-grow: 1;
  max-width: none;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}
.comment-input:focus {
  border: none;
  outline: none;
  box-shadow: none
}
.emoji {
  height: 13px;
  width: 13px;
  fill: none;
  border: 1px solid rgb(115, 115, 115);
  border-radius: 50%;
  font-size: 14px;
  line-height: 18px;
  color: rgb(115, 115, 115); 
  cursor: pointer;
  flex-shrink: 0;
}
.emoji:hover {
  opacity: 0.5;
}