.main {
  display: flex;
  flex-direction: row;
  margin-left: 444px;
  gap: 4rem;
  padding-top: 8px;
}


.middle {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  width: 630px;
  padding-left: 50px;
  align-items: center;
  gap: 30px;
}


.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 468px;
}
.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  height: 34px;
  align-items: center;
  padding-bottom: 10px;
}
.post-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, rgb(228, 33, 186) 20%, rgb(238, 196, 9));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.post-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2.5px solid white;
  vertical-align: middle;
}
.post-info {
  display: flex;
  flex-direction: column;
}
.post-name-box {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: 390px;
}
.post-name {
  font-weight: 600;
  cursor: pointer;
}
.tooltip {
  position: relative;
}
.tooltip .verified-info {
  position: absolute;
  bottom: -50px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.2s;
  pointer-events: none;
}
.verified {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.tooltip:hover .verified-info {
  opacity: 1;
  cursor: pointer;
}
.post-dot {
  color: rgb(115, 115, 115);
  font-size: 14px;
}
.post-time {
  color: rgb(115, 115, 115);
  font-size: 14px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.dots-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.circle {
  background-color: rgb(75, 75, 75);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.post-main {
  width: 468px;
  height: 585px;
  position: relative;
}
.post-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.content {
  width: 468px;
  height: 585px;
  object-fit: cover;
}