.nav-bar {
  border-right: 1px solid rgb(209, 209, 209);
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 244px;
  bottom: 0;
  top: 0;
  left: 0;
}
.logo {
  width: 220px;
  height: 70px;
  margin-top: 40px;
}
.ig-logo {
  width: 46%;
  cursor: pointer;
  margin-left: 10px;
}

.nav-main {
  width: 220px;
  height: 720px;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 56px;
  font-weight: bold;
  padding-left: 10px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 56px;
  padding-left: 10px;
}
.nav-items:hover,
.nav-item:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border: none;
  width: 210px;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-bottom {
  width: 220px;
  padding-left: 10px;
  margin-bottom: 10px;
}