.nav-bar {
  border-right: 1px solid rgb(209, 209, 209);
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 244px;
  bottom: 0;
  top: 56px;
  left: 0;
}
.logo {
  width: 220px;
  height: 70px;
  margin-top: 40px;
}
.text-logo {
  width: 46%;
  cursor: pointer;
  margin-left: 10px;
  font-family: Impact;
  font-size: 25px;
}

.nav-main {
  width: 220px;
  height: 720px;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 56px;
  font-weight: bold;
  padding-left: 10px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 56px;
  padding-left: 10px;
}

.notif-icon {
  height: 26px;
  width: 26px;
}

.nav-items:hover,
.nav-item:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border: none;
  width: 210px;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-bottom {
  width: 220px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.icon-x{
  display: none;
}

.dm-mobile {
  display: none;
}
@media(min-width: 766px) {
  .mobile-header {
  display: none;
}
}

@media(min-width: 766px) and (max-width: 1525px){
  .nav-bar{
    width: 73px;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
  }
  .nav-text{
    display: none;
  }
  .nav-main{
    width: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    display: none;
  }
  .icon-x{
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .icon-x:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
  }
  .iconx{
    width: 44px;
    padding: 12px;
  }
  .text-logo{
    display: none;
  }
  .nav-items, .nav-item{
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav-items:hover,
  .nav-item:hover{
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
  .nav-bottom{
    width: 73px;
  }
  .hidden-box{
    width: 68px;
  }
  body{
    grid-template-columns: 73px 1fr;
  }
}

@media(max-width: 795px){
  .nav-bar{
    display: none;
  }
  .iconx{
    display: none;
  }
  .nav-bottom{
    display: none;
  }
  .hidden-box{
    display: none;
  }
  body{
    grid-template-columns: 1fr;
  }
  .middle{
    width: 100%;
    margin-top: 60px;
  }
  .content{
    width: 100%;
    max-width: none;
    height: auto;
  }
  body .dm-box{
    display: none;
  }
  .dm-mobile{
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 35px;
  display: flex;
}
  .dm-mobile:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}

.mobile-header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 70px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  background-color: white;
}
.text-logo1{
  width: 100px;
  height: 29px;
  cursor: pointer;
  font-family: Impact;
  font-size: 25px;
}
.icon:hover{
  cursor: pointer;
}
.mobile-search{
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 10px;
  flex: 1;
  height: 36px;
  padding: 0 10px;
  width: 250px;
  font-size: 16px;
  font-family: Roboto, Arial;
}
.mobile-search:focus{
  outline: none;
}
}